<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => "new_js" %>
  </script>
<% end %>

<h3>create new message</h3>

<div style="clear:left;position:relative">
  <span id="instruction"></span>
</div>

<%= render 'form' %>

<div>
  <span id="notice"></span>
</div>

